CONTROL_PLANE_URL=https://api.sndbox.app
OIDC_AUTHORIZE_URL=https://identity.sndbox.app/oauth2/authorize
OIDC_TOKEN_URL=https://identity.sndbox.app/oauth2/token
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_REDIRECT_URI=https://app.sndbox.app/auth/callback
