{$SANDBOX_DOMAIN:sndbox.app} {
	encode zstd gzip
	reverse_proxy website:3100

	header {
		-Server
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
	}
}

www.{$SANDBOX_DOMAIN:sndbox.app} {
	redir https://{$SANDBOX_DOMAIN:sndbox.app}{uri} permanent
}

{$SANDBOX_APP_DOMAIN:app.sndbox.app} {
	encode zstd gzip
	reverse_proxy account:3300

	header {
		-Server
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
	}
}

{$SANDBOX_DOCS_DOMAIN:docs.sndbox.app} {
	encode zstd gzip
	reverse_proxy docs:3200

	header {
		-Server
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
	}
}
